  .heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
  }

  .heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
  }

  .heading_div2 {
    font-size: 18px;
  }

  .bruhhub{
    position: fixed;
    bottom: 0;
    background-color: gray;
    width: 100%;
  }
  
  body{
    color: #FFFFFF;
background-color: lightblue;
font-family: myFirstFont;

  }

  canvas{
    border-radius: 20px;
border: 5px solid black;
margin-top: 150px;
margin-bottom: 150px;
  }

  
  @font-face {
  font-family: myFirstFont;
  src: url("Geoma-Thin-Demo.ttf");
}
  




      